# xcode noise
build/*
*.pbxuser
*.mode1v3
*.nib
*.perspective*

# old skool
.svn

# osx noise
.DS_Store
profile



#This is to test the commit function on git which has now //this is an edit

#This is an addition.

